<div class="banner">

  <figure class="person">
    <p class="banner-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt beatae voluptas! Porro sunt eos delectus natus nam. Recusandae incidunt fugit temporibus odio? Doloribus omnis quibusdam tenetur praesentium neque quos?</p>

    <div>
      <img class="hai" src="../../../../assets/images/_DSC4520.png" />
    </div>
  </figure>
</div>
<div class="placeholder2"></div>
<section>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>
